default:
    suites:
        default:
            contexts:
                - App\Tests\Behat\ApiContext
                - Imbo\BehatApiExtension\Context\ApiContext

    extensions:
        FriendsOfBehat\SymfonyExtension:
            kernel:
                environment: test
            bootstrap: tests/bootstrap.php
        Imbo\BehatApiExtension:
            apiClient:
                base_uri: http://localhost:8080
                timeout: 5.0
                verify: false