{% component BootstrapModal with {id: 'new-category-modal'} %}
{% block modal_header %}
	<h5>Add a source</h5>
	<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
{% endblock %}
{% block modal_body %}
	<twig:SourceManage />
{% endblock %}
{% endcomponent %}
