		<div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
			{% for article in results %}
		<article class="feature col">
			<div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-5 mb-3 px-2">
				{{ article.source.name }}
			</div>
			<h3 class="fs-2 text-body-emphasis">{{ article.name }}</h3>
			<p>{{ article.content }}</p>
		</article>
	{% else %}
		<p>no records found</p>
	{% endfor %}
</div>